# 1. Reversing a string using slicing

In [1]:
my_string = "ABCDE"
reversed_string = my_string[ : : -1] # 처음부터 끝까지 -1 -> 거꾸로

print(reversed_string)

# Output
# EDCBA

EDCBA

# 2. set() : Finding unique elements in a string

In [2]:
my_string = 'aaaavvccdddeee'

# converting the string to a set
temp_set = set(my_string)

# sticthing set into a string using join
new_string = ''.join(temp_set)

print(temp_set, new_string)

{'d', 'v', 'a', 'e', 'c'} dvaec

# 3. List Comprehension

In [3]:
# multiplying each element in a list by 2

original_list = [ 1, 2, 3, 4 ]

new_list = [ 2*x for x in original_list ]

print(new_list)

[2, 4, 6, 8]

# 4. split() : Split String into a List of Substrings

In [5]:
string_1 = "my name is yang sungju"
string_title = string_1.title() # title함수로 맨 첫글자 대문자로 변환하기

string_2 = "Hello/ Sungju"

print(string_title)
print(string_title.split( ))
print(string_2.split('/'))

My Name Is Yang Sungju
['My', 'Name', 'Is', 'Yang', 'Sungju']
['Hello', ' Sungju']

# 5. join() : Combining a List of Strings

In [6]:
list_of_strings = [ 'My', 'name', 'is', 'Sungju']

# using join with the comma seperator
list1 = ','.join(list_of_strings)

# using join with space
list2 = ' '.join(list_of_strings)

print(list1)
print(list2)

My,name,is,Sungju
My name is Sungju

# 6. counter : Frequency of Elements in a list

* Counter class : 개별 요소의 빈도를 체크해주는 라이브러리
*- count() : 해당 요소가 몇개 있나
*- most_common() : 가장 빈도 높은 거와 그 횟수 체크

In [7]:
from collections import Counter

my_list = ['a','a','b','b','b','c','d','d','d','d','d']
count = Counter(my_list) # definint a counter object

print(count) # of all elements

print(count['b']) # of individual element

print(count.most_common(1)) # most frequent element

print(count.most_common(2)) # Top 2

Counter({'d': 5, 'b': 3, 'a': 2, 'c': 1})
3
[('d', 5)]
[('d', 5), ('b', 3)]

# 7. Using the try-except-else Block

* Error handling in Python can be done easily using the try/except block. 
* Adding an else statement to this block might be useful. 
* It’s run when there is no exception raised in the try block.
* If you need to run something irrespective of exception, use finally.

In [8]:
a, b = 1,0

try:
    print(a/b)
    # exception raised when b is 0
    # run something irrespective of exception, use finally
    
except ZeroDivisionError:
    print("division by zero")
    
else:
    print("no exceptions raised")
    
finally:
    print("Run this always")

division by zero
Run this always

# 8. enumerate() : Using Enumerate to get Index/Values Pairs

* list 뿐만 아니라 dict에서도 응용해서 쓸수 있다 -> index와 키를 뽑고 키로 value 뽑고

In [9]:
my_list = ['a', 'b', 'c', 'd', 'e']

for idx, value in enumerate(my_list) :
    print( '{0} : {1}'.format(idx, value) )

0 : a
1 : b
2 : c
3 : d
4 : e

In [10]:
my_dict = { 'a' : '성주', 'b' : '혜선', 'c' : '정아', 'd' : '정우' }

for idx, key in enumerate(my_dict) :
    print( idx, ':', key,'-', my_dict[key] )

0 : a - 성주
1 : b - 혜선
2 : c - 정아
3 : d - 정우

# 9. Flattening a List of lists : deep list를 flatten

In [11]:
%pip -q install iteration_utilities

Note: you may need to restart the kernel to use updated packages.

In [12]:
# if you only have one depth nested_list, use this

def flatten(data):
    return [item for sublist in data for item in sublist]

data = [ [1,2,3], [4,5], [6] ]
print(flatten(data))

# but if you don't know how deep the list is nested

from iteration_utilities import deepflatten

list_data = [ [1,2,3], [4,[5],[6,7]], [8,[9,[10]] ] ]

print( list( deepflatten(list_data, depth=2) ) )
print( list( deepflatten(list_data, depth=3) ) )

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9, [10]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 10. Check for Uniqueness

In [13]:
def unique(data):
    
    if len(data)==len(set(data)):
        print("All elements are unique")
        
    else:
        print("List has duplicates")

unique([1,2,3,4])
# All elements are unique

unique([1,1,2,3])
# List has duplicates

All elements are unique
List has duplicates

In [14]:
unique(my_list) # a, b, c, d, e

All elements are unique

In [15]:
my_list

['a', 'b', 'c', 'd', 'e']